.top-bar{
    width: 1365px;
    height: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*{
    padding: 0;
    margin: 0;
}
.btn1{
    border: none;
    background-color: aqua;
}
.nav-bar{
    width: 1365px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    
}
i{
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    

}
ul > li{
    list-style-type: none;
}
input{
    width: 130px;
    height: 25px;
}
.button49{
    width: 60px;
    height: 25px;
    color: aqua;
    background-color: black;
    cursor: pointer;
}
.download{
    height: 300px;
    width: 1365px;
}
.menu{
    width: 1340px;
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.menu1{
    width: 850px;
}
.menu1 > h3{
    text-align: center;
}
.menu1 > p{
    text-align: center;
}
.main-item{
    width: 1340px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.item3 > img{
    width:300px;
    height: 200px;
}
.item2 > img{
    width:300px;
    height: 200px;
}
.item1 > img{
    width:300px;
    height: 200px;
}
.item1 {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .5);

}
.item2 {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .5);

}.item3 {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .5);

}
.btn6{
    background-color:green;
    color: white;
}
.btn5{
    background-color:red;
    color: white;
}
.btn4{
    background-color:blueviolet;
    color: white;
}