.top-bar{
    width: 1365px;
    height: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*{
    padding: 0;
    margin: 0;
}
.btn1{
    border: none;
    background-color: aqua;
}
.nav-bar{
    width: 1365px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    
}
i{
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    

}
ul > li{
    list-style-type: none;
}
input{
    width: 130px;
    height: 25px;
}
.button49{
    width: 60px;
    height: 25px;
    border: 1px solid aqua;
    color: aqua;
    background-color: black;
    cursor: pointer;
}
.download{
    height: 300px;
    width: 1365px;
}